@font-face {
  font-family: "fontGame";
  src: url("./font/Pony.ttf");
}

.game {
  background-image: url(./assets/bgGame.png);
  background-repeat: no-repeat;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: fontGame;
}

.playerGame,
.computerGame {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playerGame__bubble,
.computerGame__bubble {
  margin-top: 15px;
  border: 4px solid #45d994;
  width: 120px;
  height: 120px;
  background-color: #fff;
}
.playerGame__img {
  width: 80px;
  height: 80px;
  transform: rotateY(180deg);
  margin-top: 20px;
}
.computerGame__img {
  width: 80px;
  height: 80px;
  transform: rotateY(180deg);
  margin-top: 20px;
}
.inFoGame {
  font-size: 3rem;
}
.inFoGame__goals,
.info__total {
  color: #45d994;
  margin-top: 1rem;
}
.game__button {
  background-color: #25a94d;
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 1.3rem;
  border: 1px solid #25a94d;
  border-radius: 5px;
}

.btnItem {
  width: 60px;
  height: 50px;
  transition: all 0.1s;
}
.btnItem:hover {
  border: 4px solid #eaab2c;
  border-radius: 50%;
}
/* Buble CSS  */
.speech-bubble {
  position: relative;
  background: #45d994;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 35px solid transparent;
  border-top-color: #45d994;
  border-bottom: 0;
  border-left: 0;
  margin-left: -17.5px;
  margin-bottom: -35px;
}
